@page "/"

<PageTitle>Home</PageTitle>

<div style="display: grid; height: 400px">
    <OverlayScrollbar AutoHide="AutoHideBehavior.Move">
        <h1>Hello, world!</h1>

        Welcome to your new app.
    
        <div style="height: 1000px; aspect-ratio: 1 / 1; background-color: red;"></div>
    </OverlayScrollbar>
</div>