@page "/"

<PageTitle>Home</PageTitle>

<overlay-scrollbar 
    style="height: 300px; max-width: 400px;"
    auto-hide="move"
    drag
    click-scroll>
    <h1>Hello, world!</h1>

    Welcome to your new app.
    
    <div style="height: 1000px; aspect-ratio: 1 / 1; background-color: red;"></div>
</overlay-scrollbar>